.repo-details {
  padding: 20px;
  border: var(--border-width-thin) solid var(--main-border-color);
  background-color: var(--main-background-color);
  border-radius: var(--border-radius-medium);
  margin-top: 10px;
}

.repo-details-header,
.repo-details-header > * {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.repo-details-header > div {
  gap: 8px;
}

.repo-details-text {
  align-self: center;
}

.svg_icons {
  transform: scale(1.2);
}

.repo-file-content > pre {
  text-align: left;
  border-radius: var(--border-radius-medium);
  overflow: auto;
  max-height: 500px;
}
