.repo-list {
  max-width: 1000px;
  min-width: 550px;
  min-height: 550px;
  max-height: 1000px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
}

.icons > .MuiSvgIcon-root {
  transform: scale(0.5);
}
