.repo-list,
.icon-holder {
  max-width: 1000px;
  min-width: 550px;
  min-height: 550px;
  max-height: 1000px;
  text-align: center;
  margin: 0 auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

.MuiInputBase-input {
  color: white;
}

.icon-holder {
  justify-content: center;
  align-items: center;
}

.search-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(2);
}
