.repo-container {
  position: relative;

  background-color: var(--main-background-color);

  border-radius: var(--border-radius-medium);
  border-color: var(--main-border-color);
  border-width: var(--border-width-thin);
  border-style: solid;

  margin: 10px 20px;
  padding: 10px;
}

.repo-name,
.repo-info {
  display: flex;
  align-items: center;
}

.repo-name {
  gap: 16px;
}

.repo-name > p {
  color: var(--color-fg-primary);
  font-size: large;
  font-weight: bold;
  font-weight: 600;
}

.repo-info {
  gap: 16px;
}

.repo-info > .repo-size {
  max-width: 100px;
}

.repo-item {
  justify-content: space-between !important;

  display: flex;
  align-items: center;
}

.repo-badge {
  position: absolute !important;
  top: 5px;
  right: 5px;
}

.repo-details-container {
  overflow: hidden;
  max-height: 0;
  transition:
    max-height 1s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 0;
}

.repo-details-container.open {
  max-height: 700px;
  opacity: 1;
}

.repo-container.shake {
  animation: horizontal-shaking 0.5s ease-in-out;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
